.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5vmin;
}

#images-container {
  display: flex;
  justify-content: center; /* Center the images horizontally */
  align-items: center; /* Center the images vertically */
  margin-top: 11vmin;
}

#images-container img {
  width: 50vmin;
  margin: 0 -80px;
}

#spacebar-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#spacebar-container img {
  margin-top: -30vmin;
  width: 70vmin;
}

@keyframes jump {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translateY(-10vmin);
  }
  100% {
    transform: translateY(0);
  }
}

.jump {
  animation: jump 0.5s ease;
}

#play-again {
  display: none;
  background-color: #fee509;
  color: #161616;
  border: 5px solid #91b596;
  border-radius: 8px;
  padding: 12px 24px;
  font-size: 20px;
  letter-spacing: 2px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#play-again:hover {
  background-color: #fe8a8a;
  color: #f2ebe3;
}

#instructionsButton {
  color: rgb(236, 43, 200);
  border-color: rgb(236, 43, 200);
  border-style: ridge;
  font-family: "Roboto", sans-serif;
  font-size: medium;
  background-color: #f6f8d4;
}

#instructions {
  opacity: 0;
  visibility: hidden; /* Prevents interaction when hidden */
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out; /* Smooth transition */
  max-width: 150vmin;
  padding: 1vmin;
  background-color: #fbfbbf;
  border-radius: 8px;
  font-size: 16px;
}

#instructions.show {
  opacity: 1;
  visibility: visible;
}

#main-container {
  display: flex;
  flex-direction: row; /* Aligns items in a row */
  align-items: center; /* Aligns items vertically in the center */
  justify-content: space-around; /* Distributes space between items */
  margin-top: 0.5vmin; /*------www*/
}

#instruc-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1vmin;
  overflow: visible;
  margin-top: -12vmin;
  margin-bottom: 1vmin;
}
