.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#images-container {
  display: flex;
  justify-content: center; /* Center the images horizontally */
  align-items: center; /* Center the images vertically */
  margin-top: 11vmin;
}

#main-container {
  display: flex;
  flex-direction: row; /* Aligns items in a row */
  align-items: center; /* Aligns items vertically in the center */
  justify-content: space-around; /* Distributes space between items */
  margin-top: -10vmin;
}

#images-container img {
  width: 50vmin;
  margin: 0 -80px;
}

#spacebar-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#spacebar-container img {
  margin-top: -30vmin;
  width: 70vmin;
}

@keyframes jump {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translateY(-10vmin);
  }
  100% {
    transform: translateY(0);
  }
}

.jump {
  animation: jump 0.5s ease;
}
